<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/css/books.css">
<link rel="icon" href="/images/logo2.png">
</head>

<body>
  <!-- ****************** NAVBAR ********************* -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="/images/logo2.png" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <% for(i=0;i<navNew.length;i++){%>
          <li class="nav-item active">

            <a class="nav-link" href="<%=navNew[i].link%>"><%=navNew[i].name%></a>
          </li>
          <% } %>
        
      </ul>
    </div>
    </div>
  </nav>


<!-- ****************** CONTENT ********************* -->

               <div class="container sl">
                <h1 id="heading">Edit Author</h1>

                <div class="row row1">
                  <div class="image col-md-4" style="display:inline-block">
                     <img src="/images/<%=author.image%>" width="150" height="200" >
                  </div>
                 <div class="about col-md-8" style="display:inline-block">
                 <form  method="POST" action="/authors/update" enctype="multipart/form-data">  
                   <input type="hidden" value="<%=author._id%>" name="id" > <br>

                   <div class="form-group form-inline">
                    <label class="labels" for="name">Name</label>               
                    <input type="text" class="form-control" value="<%=author.name%>" name="name" >
                  </div>

                  <div class="form-group form-inline">
                    <label class="labels" for="nationality">Nationality</label>               
                    <input type="text" class="form-control" value="<%=author.nationality%>" name="nationality" >
                  </div>

                  <div class="form-group form-inline">
                    <label class="labels" for="category">Category</label>               
                    <input type="text" class="form-control" value="<%=author.category%>" name="category" >
                  </div>
                  <div class="form-group form-inline">
                    <label for="image">Image</label>               
                    <input type="file" class="form-control" value="<%=author.image%>" name="image" accept="image/*" required>
                  </div>
                  <div class="button">
                    <button type="submit" class="btn btn-primary btn-dark custom-btn" >Update</button>
                </div>
                  </form>

                 </div>
               </div>
                </div>
              


               



            
<!-- ****************** FOOTER ********************* -->
                <footer class="footer-div">
                  <div class="container">      
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
                        <h4>About us</h4>
                        <div class="footer-menu">
                          <p>Since 1891, we have grown from a single reading room in Pioneer Square to a world-class Library system with 27 locations.
                            </p>
                        </div>
                      </div>
                      <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
                        <h4>Quick links</h4>
                        <ul class="footer-menu">
                          <li><a href="/books">Books</a></li>
                          <li><a href="/authors">Authors</a></li>      
                        </ul>
                      </div>

                      <div class="col-md-3 col-sm-4 col-xs-6 footer-column">
                        <h4>Contact us</h4>                
                        <div class="footer-menu">
                        <p><i class="fas fa-home mr-3"></i> H-213, Tvm, Kerala</p>                
                          <p><i class="fas fa-envelope mr-3"></i> lib@gmail.com</p>                
                          <p> <i class="fas fa-phone mr-3"></i> +91 9562345545</p>
                          </div>
                      </div>

                      <div class="col-md-3 col-sm-4 col-xs-6 footer-column ">
                        <h4>Follow us</h4>
                        <ul class="follow">
                   <li><a  href="http://www.facebook.com" target="_blank">
                      <img src="/images/fb.png" width="40" height="40">
                    </a></li> 
                   
                    <li>  <a  href="http://www.twitter.com" target="_blank">
                      <img src="/images/twitter.png" width="40" height="40">
                    </a></li> 
 
                    <li>   <a  href="http://www.instagram.com" target="_blank">
                      <img src="/images/insta.png" width="40" height="40">
                    </a></li> 
                  </ul>               
                      </div>                     
                    </div>
                  </div>

                <div class="footer-copyright text-center py-1">
                <p> Copyright © ICTAK</p>
                </div>
                </footer>
  

  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>